body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  overflow: hidden;
  display: flex;
  height: 6%;
  width: 100%;
  background-color: #fbfcfc;
  box-shadow: 0px 1px 10px #999;
  z-index: 2;
  position: relative;
}

#icon {
  float: left;
  display: flex;
  align-items: center;
}

#icon img {
  padding: 0px 20px;
}

#nav {
  float: right;
  display: flex;
  align-items: center;
}

#nav .button {
  font-size: medium;
  color: #7b7d7d;
  text-decoration: none;
  padding: 30px 18px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#nav .button:hover {
  background-color: #ecf0f1;
}

#map {
  height: 94%;
  position: relative;
  z-index: 1;
}
